@font-face {
  font-family: 'FrancoisOne';
  font-style: normal;
  font-weight: 400;
  src: local('FrancoisOne Regular'), local('FrancoisOne-Regular'), url(FrancoisOne.ttf) format('truetype');
}

@font-face {
  font-family: 'OswaldBold';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(oswald.bold.ttf) format('truetype');
}