{% extends "tools/tool_base.html" %}

{% load i18n %}
{% block title %} {% trans "About CaribNode" %} {% endblock %}

{% block middle %}
<div class="container content-back carib">
    <div class="row-fluid">
        <div class="span12">
            <h2 class='page-title'>{% trans "About CaribNode" %}</h2>
        </div>
        <div class="span7">            
            <p>CaribNode is a regional information system that brings together authoritative data from national and regional entities, making it possible to create tools for resource management across the region.  </p>
            <p>Examples include the <a href="/documents/?category=health">Caribbean Coral Reef Report Cards</a> and the <a href="/tools/reef-assess/region/1">Coral Reef Assessment Tool</a>.  Both provide access to standardized indicators that allow you to monitor the status and trends of the marine environment, the effectiveness of their management, and the health of the communities that rely on it.</p>
            <a name="partners"></a>
            <h2 name="partners">Project Partners</h2>
            <p>A number of national governements and organizations use and contribute data to CaribNode including:</p>
            <ul>
                <li>Antigua and Barbuda</li>
                <li>Dominica</li>
                <li>Grenada</li>
                <li>Saint Kitts and Nevis</li>
                <li>Saint Lucia</li>
                <li>Saint Vincent and the Grenadines</li>
                <li><a href="http://www.nature.org/ourinitiatives/regions/caribbean/easterncaribbean/index.htm">The Nature Conservancy - Eastern Caribbean Program</a></li>
                <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwiI5JDLm7LLAhVG4mMKHabMDhUQFggoMAE&url=https%3A%2F%2Fwww.iucn.org%2Fabout%2Fwork%2Fprogrammes%2Fgpap_home%2Fgpap_biodiversity%2Fgpap_wdpa%2F&usg=AFQjCNGylC4we06vquIRacHxwtAJ6K56xw&sig2=O2yAj6XmFxPtA7F25dhSPQ">IUCN - World Database on Protected Areas</a></li>
            </ul>   
        </div>
        <div class="span4 funder">
            <div class="header">FUNDING</div>
            <div>
            <p>This system is being developed with funding support from the following projects:</p>
                <ul>
                    <li><a href="http://www.worldbank.org/projects/P103470/sustainable-financing-management-eastern-caribbean-marine-ecosystem?lang=en" target="_window">Sustainable Financing & Management of Eastern Caribbean Marine Ecosystem Project</a></li>
                    <li><a href="https://www.conservationgateway.org/ConservationByGeography/NorthAmerica/Caribbean/science/management/Pages/ecmman.aspx" target="_window">Climate Resilient Eastern Caribbean Marine Managed Areas Network (ECMMAN)</a></li>
                </ul>
                <img width=100% src="/static/img/bmu_logo.jpg"/>
                <img width=100% src="/static/img/tnc_logo.jpg"/>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
