{% extends "site_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load documents_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block body_outer %}
<div class="welcome span12">
      <div class="row">
        <div class="span7">
          <div class="welcome-header">{% trans "WELCOME" %}</div>
          <div class="welcome-text">
          {% trans "Discover valuable resources for marine management in the Eastern Caribbean" %}
          </div>
        </div>
        <div class="span5">
          <div class="searchbar">
            <form class="input-append  pull-right" action="{% url "search" %}" method="GET">
              {# csrf_token #}
              <input id="search" type="text" name="q"/>
            </form>
          </div>
        </div>
      </div>
</div>

<div class="span12">
  <div class="row">
    <div class="features span6">
      <div class="feature-header">{% trans "FEATURED TOOLS" %}</div>
      <div class="feature">
        <div class="feature-tool-icon-reef pull-left"></div>
        <div class="feature-text">{% trans "Caribbean Coral Reef Assessment Tool" %}</div>
      </div>
      <div class="feature">
        <div class="feature-tool-icon-fund pull-left"></div>
        <div class="feature-text">{% trans "Caribbean Biodiversity Fund Status Report" %}</div>
      </div>
      <div class="feature-link pull-right">
        <a href="#">{% trans "View all " %}4</a>
      </div>
    </div>

    <div class="features span6">
      <div class="feature-header">{% trans "LATEST MAPS" %}</div>

    {% featured_maps "2" as last2maps %}
    {% if last2maps|length > 0 %}
      {% for map in last2maps %}
        <div class="feature">
          <div class="feature-map-icon clickable pull-left">
            <a href="{% url "map_detail" map.id %}"></a>
          </div>
          <div class="feature-text"><a href="{% url "map_detail" map.id %}">{{ map.title|truncatechars:72 }}</a></div>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "No maps found" %}</p>
    {% endif %}

      <div class="feature-link pull-right">
        <a href="/maps">{% trans "View all " %}7</a>
      </div>
    </div>
  </div>
</div>



<div class="span12">
  <div class="row">
    <div class="features span6">
      <div class="feature-header">{% trans "LATEST LAYERS" %}</div>

    {% featured_layers "2" as last2layers %}
    {% if last2layers|length > 0 %}
      {% for layer in last2layers %}
        <div class="feature">
          <div class="feature-thumb pull-left">
          <a href="{% url "layer_detail" layer.typename %}"><img src="{{ layer.get_thumbnail_url }}" /></a>
          </div>
          <div class="feature-text"><a href="{% url "layer_detail" layer.typename %}">{{ layer.title }}</a></div>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "No layers found" %}</p>
    {% endif %}

      <div class="feature-link pull-right">
        <a href="/layers">{% trans "View all " %}27</a>
      </div>
    </div>

    <div class="features span6">
      <div class="feature-header">{% trans "LATEST DOCUMENTS" %}</div>

    {% featured_docs "2" as last2docs %}
    {% if last2docs|length > 0 %}
      {% for doc in last2docs %}
        <div class="feature">
          <div class="feature-thumb pull-left">         
            <a href="{% url "document_detail" doc.id %}"><img class="thumb" src="{{ doc.get_thumbnail_url }}" /></a>
          </div>
          <div class="feature-text"><a href="{% url "document_detail" doc.id %}">{{ doc.title }}</a></div>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "No docs found" %}</p>
    {% endif %}

      <div class="feature-link pull-right">
        <a href="/documents">{% trans "View all " %}13</a>
      </div>
    </div>
  </div>
</div>

<div class="span12">
  <div class="row">
    <div class="partner-box span12">
      <div class="partner-icon clickable pull-left"><a href="/about#partners"></a></div>
      <div class="partner-text"><a href="/about#partners">{% trans "Regional partners - see who is contributing their data" %}</a></div>      
    </div>
  </div>
</div>

<hr>

<br/>
<br/>

{% endblock %}

{% block extra_script %}  
  {% include 'search_scripts.html' %}
{% endblock extra_script %}
