{% extends 'index.html' %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="hero-unit">
    <h1>{% trans "Welcome" %}</h1>
    <div class="hero-unit-content">
      <div class="intro">
        <p>
          {% blocktrans %}
            Foo blorts! GeoNode is an open source platform for sharing geospatial data and maps.  If you have any questions about the software or service, join our <a href="https://groups.google.com/d/forum/geonode-users">mailing list</a>.
          {% endblocktrans %}
        </p>        
      </div>
      <div class="search">
        <form class="input-append  pull-right" action="{% url "search" %}" method="GET">
          {# csrf_token #}
          <input id="search" type="text" name="q"/>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
