{% extends "tools/tool_base.html" %}
{% load i18n %}
{% load chunks %}

{% block title %} {% trans "Indicators" %} - {{ block.super }} {% endblock %}

{% block body_class %}tools{% endblock %}

{% block middle %}

  <div class="container content-back">
    <h2 class="page-title">{% trans "Indicators" %}</h2>
    <div class="row-fluid">
      <div class="span12">
        <h2>{% trans "Overview" %}</h2>
          <div class="row-fluid">
            <div class="span8 tool">
            {% chunk "help-overview" %}
          </div>
        </div>
      </div>
      <div class="span12">
        <div class='tool-list'>          
          {% for group in indi_groups %}
          <h2>{{group.name}}</h2>
            {% for indi in group.indis %}
            <h3>{{indi.name}}</h3>
              <div class="row-fluid">
                <div class="span6">
                  <p>Description: <span class='light'>{{indi.description}}</span></p>
                  <p>Geographic scales available: <span class='light'>{{indi.myscales}}</span></p>
                </div>
                <div class="span4">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="grade">{% trans "Grade" %}</th>
                        <th class="desc">{% trans "Description" %}</th>
                      </tr>
                    </thead>
                    <colgroup>
                       <col class="indi-col col1">
                       <col class="indi-col col2">
                    </colgroup>
                    {% for indiGrade in indi.mygrades %}
                        <tr>
                            <td class="grade"><div style='background-color: {{indiGrade.grade.color}}'>{{indiGrade.grade.name}}</div></td>
                            <td class="desc">{{indiGrade.description}}</td>
                        </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>                                        
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
{% endblock extra_script %}
