{% extends "tools/tool_base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %} {% trans "Explore Tools" %} - {{ block.super }} {% endblock %}

{% block body_class %}data data-list explore{% endblock %}

{% block middle %}
  <div class="container tool">
      <div class="tool-header">REGIONAL REEF ASSESSMENT</div>
      <h2 class="tool-unit">{{ region }}</h2>
      

      <h3 class='section-header'>OVERVIEW</h3>
      <div class="row-fluid section-body">
          <div class="span5 overview-left">
            <p>The following countries are included in this regional assessment.  Select a country below to view a national assessment.</p>
            <table class="stats-table">
              <colgroup>
                 <col span="1" style="width: 16%;">
                 <col span="1" style="width: 42%;">
                 <col span="1" style="width: 42%;">
              </colgroup>
              <tr class="num-row">
                <td><div class="country-icon"></div></td>
                <td class="big-num">{{countries|length}}</td>
                <td class="small-num">{{stats.country_total_km|intcomma}}</td>                
              </tr>
              <tr>
                <td></td>
                <td class="big-label">PARTICIPATING COUNTRIES</td>
                <td class="small-label">SQUARE KM OF OCEAN</td>
              </tr>        
            </table>  

            <div class='tool-list'>
              {% for country in countries %}
              <article class="tool-list-item {% if forloop.last %}last{% endif %}" name="{{country}}" >{{ country }}</article>
              {% endfor %}
            </div>                      
          </div>

          <div class="span7 overview-right">
            <div id="country-map">
          </div>
          </div>
      </div>

      <h3 class='section-header'>MARINE PROTECTED AREAS</h3>
      <div class="row-fluid section-body">
          <div class="span5 mpa-left">
            <p></p>
          </div>
          <div class="span7 mpa-right">
            <div id="mpa-map">
            </div>
          </div>
          </div>
      </div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/ol.js"></script>
<script src="{{ STATIC_URL }}js/caribnode.js"></script>
<script>

//Global config object
config = {{config_json|safe}};

//Other globals
countryListItemClass = '.tool-list-item';
eezNameAttr = "Sovereign";

$( document ).ready(function() {
  loadCountryMap('country-map');
  loadMpaMap('mpa-map');
  loadHoverEvents(countryOverlay, eezLayer, countryListItemClass, eezNameAttr);
});

</script>
{% endblock extra_script %}
