{% extends "tools/tool_base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %} {% trans "Explore Tools" %} - {{ block.super }} {% endblock %}

{% block body_class %}data data-list explore{% endblock %}

{% block middle %}
  <div class="container tool">
    <div class="tool-header">
    {{ scale.alt_name|upper }} REEF ASSESSMENT
    </div>
    <h2 class="tool-unit">{{ unit.name }}</h2>
    
  {% if scale.name == "region" %}
    <h3 class='section-header'>OVERVIEW</h3>
    <div class="row-fluid section-body">
        <div class="span6 overview-left">
          <p class='stats-intro'>The following countries are included in this regional assessment.  Select a country below to view a national assessment.</p>
          <table class="stats-table">
            <colgroup>
               <col class="stat-col col1">
               <col class="stat-col col2">
               <col class="stat-col col3">
            </colgroup>
            <tr class="num-row">
              <td><div class="country-icon"></div></td>
              <td class="big-num">{{childUnits|length}}</td>
              <td class="small-num">{{stats.eez_total_km|floatformat:"0"|intcomma}}</td>                
            </tr>
            <tr>
              <td></td>
              <td class="big-label">PARTICIPATING COUNTRIES</td>
              <td class="small-label">SQUARE KM OF OCEAN</td>
            </tr>        
          </table>  

          <div class='tool-list'>
            {% for unit in childUnits %}
            <article class="tool-list-item {% if forloop.last %}last{% endif %}" name="{{ unit.name }}" >
              <div class="tool-list-name" >{{ unit.name }}</div>
              <div class="zoom-unit-icon pull-right" name="{{ unit.name }}" title="Zoom map to {{childScale.name}}"></div>
              <div class="zoom-assess-icon clickable pull-right" title="Go to {{childScale.alt_name|lower}} assessment"><a href='{% url "reef_assess" childScale.name unit.id %}'></a></div>

            </article>
            {% endfor %}
          </div>                     
        </div>        

        <div class="span6 overview-right">
          <div id="country-map"></div>
          <div class="legend">
          <table>
            <tr>        
              <td class='last'><p>Exclusive Economic Zone (EEZ)</p>
              <img src="http://caribnode.foo/geoserver/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=eez&_OLSALT=0.07123626442626119&SCALE=17471285.8058239"/>
              </td>              
            </tr>
          </table>
        </div>
        </div>
    </div>
  {% endif %}

    <h3 class='section-header'>MARINE PROTECTED AREAS</h3>
    <div class="row-fluid section-body">

      <div class="span6 mpa-left">
        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>
          <tr class="num-row">
            <td><div class="mpa-desig-icon"></div></td>
            <td class="big-num">{{stats.pa_num_designated}}</td>
            <td class="small-num">{{stats.pa_designated_total_area|floatformat:0|intcomma}}</td>                
          </tr>
          <tr>
            <td></td>
            <td class="big-label">AREAS DESIGNATED SINCE {{stats.pa_year_first_designated}}</td>
            <td class="small-label">SQUARE KM OF OCEAN</td>
          </tr>
        </table>

        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>              
          <tr class="num-row">
            <td><div class="mpa-proposed-icon"></div></td>
            <td class="big-num">{{stats.pa_num_proposed}}</td>
            <td class="small-num">{{stats.pa_proposed_total_area|floatformat:0|intcomma}}</td>                
          </tr>
          <tr>
            <td></td>
            <td class="big-label">MORE AREAS PROPOSED SINCE {{stats.pa_year_first_proposed}}</td>
            <td class="small-label">SQUARE KM OF OCEAN</td>
          </tr>        
        </table> 

        <div class="row">
          <div class='span6'>
            <div class='donut-header'>Ocean Protected</div>
            <div id="ocean-donut"></div>
          </div>
          <div class='span6'>
            <div class='donut-header'>Shelf Protected</div>
            <div id="shelf-donut"></div>
          </div>
        </div>
      </div>
      <div class="span6 mpa-right">
        <div id="mpa-map">
        </div>
        <div class="legend">
          <table>
            <tr>        
              <td><p>Protected Areas</p>
              <img src="http://caribnode.foo/geoserver/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=pa&style=pa_4b0bd6b0&SCALE=8735642.90291195"/>
              </td>
              <td class="last"><p>Shelf</p>
              <img src="http://caribnode.foo/geoserver/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=shelf&style=shelf_1a6f87cb&_OLSALT=0.8861698159016669&SCALE=8735642.90291195"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <h3 class='section-header'>{{ scale.alt_name|upper }} INDICATORS</h3>

    <div class="section-body">

      <div class="row-fluid">

      <div id="indi-section" class="span12">

        <section class="indi-top">                    
          <div class="span3 pull-left">
            <div class="indi-icon pull-left"></div>
            <div>
              <div class="big-indi-num">{{indis|length}}</div>
              <div class="big-indi-label">INDICATORS</div>
            </div>              
          </div>
          <div class="span9">
            <p>These indicators characterize the status and trends of the marine environment as well as the socio-economic and management conditions around it.  The most recent available year is shown.</p>
          </div>        
        </section>

      </div>

    </div>

  </div>      
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}lib/js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}lib/js/ol.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/papaparse.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}lib/js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/humanize.js"></script>
<script src="{{ STATIC_URL }}js/caribnode.js"></script>

<script>
//Global config object
config = {{config_json|safe}};

$( document ).ready(function() {
  //Add indexOf function to ie8 for PapaParse to work
  if (!Array.prototype.indexOf) { Array.prototype.indexOf = _.indexOf; }
  //Create assessment widget
  $('body').ReefAssessment({'config':config});
});
</script>

<script type="text/template" class="indiSection">
        <section>
          <div class="indi-header">
            <div class="<%= indi_type %>-indi-icon pull-left"></div>                
            <div class="indi-header-title">
              <%= indi_type_display %>
            </div>
          </div>
        </section>

        <section class="indi-section">        
          <table class="table table-hover table-indi">
            <thead>
              <tr>
                <th class="name">Name of Indicator</th>
                <th class="year">Year</th>
                <th class="value">Value</th>
                <th class="trend">Trend</th>
                <th class="grade">Grade</th>
                <th class="data">Data</th>
              </tr>
            </thead>
            <colgroup>
               <col class="indi-col col1">
               <col class="indi-col col2">
               <col class="indi-col col3">
               <col class="indi-col col4">
               <col class="indi-col col5">
               <col class="indi-col col6">
            </colgroup>
            <tbody>
              <% _.each(indis, function(indi) { %>
              <tr>
                <td class="name"><%= indi.name %></td>
                <td class="year"><%= indi.display.year %></td>
                <td class="value"><%= indi.display.value %></td>

                <td class="trend">
                <% if (indi.display.trend == 'up') { %>
                  <i class="icon-upload trend-icon">
                <% } else if (indi.display.trend == 'down') { %>
                  <i class="icon-download trend-icon">
                <% } else if (indi.display.trend == 'same') { %>
                  <i class="icon-circle trend-icon-small">
                <% } else { %>
                  N/A
                <% } %>
                </td>

                <td class="grade">
                <% if (indi.display.grade == 'Very Good') { %>
                  <div class="grade-very-good">
                <% } else if (indi.display.grade == 'Good') { %>
                  <div class="grade-good">
                <% } else if (indi.display.grade == 'Fair') { %>
                  <div class="grade-fair">
                <% } else if (indi.display.grade == 'Poor') { %>
                  <div class="grade-poor">                  
                <% } else { %>
                  N/A
                <% } %>                
                <%= indi.display.grade %></div></td>
                <td class="data"><a href="<%= indi.display.doc_link %>"><i class="icon-table doc-data-icon"></a></td>
              </tr>              
              <% }); %>              
            </tbody>
          </table>
        </section>                              
</script>
{% endblock extra_script %}
