{% extends "tools/tool_base.html" %}
{% load i18n %}
{% load humanize %}
{% load tools_tags %}

{% block title %} {% trans "Reef Assessment" %} - {{ block.super }} {% endblock %}

{% block body_class %}tools{% endblock %}

{% block middle %}
  <div class="container tool">
    <div class="tool-header">
    {{ scale.alt_name|upper }} REEF ASSESSMENT
    </div>
    <h2 class="tool-unit">{{ unit.name }}</h2>

<!-------- OVERVIEW SECTION -------->
    
  {% if scale.name == "region" %}
    <h3 class='section-header'>{% trans "OVERVIEW" %}</h3>
    <div class="row-fluid section-body">
        <div class="span6 overview-left">
          <p class='stats-intro'>{% trans "The following countries are included in this regional assessment.  Select a country below to view a national assessment." %}</p>
          <table class="stats-table">
            <colgroup>
               <col class="stat-col col1">
               <col class="stat-col col2">
               <col class="stat-col col3">
            </colgroup>
            <tr class="num-row">
              <td><div class="country-icon"></div></td>
              <td class="big-num">{{childUnits|length}}</td>
              <td class="small-num">{{stats.eez_total_km|floatformat:"0"|intcomma}}</td>                
            </tr>
            <tr>
              <td></td>
              <td class="big-label">{% trans "PARTICIPATING COUNTRIES" %}</td>
              <td class="small-label">{% trans "SQUARE KM OF OCEAN" %}</td>
            </tr>        
          </table>  

          <div class='unit-list'>
            {% for unit in childUnits %}
            <article class="unit-list-item {% if forloop.last %}last{% endif %}" name="{{ unit.name }}" >
              <div class="unit-list-name" >{{ unit.name }}</div>
              <div class="zoom-unit-icon pull-right" name="{{ unit.name }}" title="Zoom map to {{childScale.name}}"></div>
              <div class="zoom-assess-icon clickable pull-right" title="Go to {{childScale.alt_name|lower}} assessment"><a href='{% url "reef_assess" childScale.name unit.id %}'></a></div>
            </article>
            {% endfor %}
          </div>                     
        </div>        

        <div class="span6 overview-right">
          <div id="country-map"></div>
          <div class="legend">
          <table>
            <tr>        
              <td class='last'><p>{% trans "Exclusive Economic Zone (EEZ)" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=eez&_OLSALT=0.07123626442626119&SCALE=17471285.8058239">
              </td>              
            </tr>
          </table>
        </div>
        </div>
    </div>
  {% endif %}

  {% if scale.name == "mpa" %}
    <h3 class='section-header'>{% trans "Overview" %}</h3>
    <div class="row-fluid section-body">

      <div class="span6 section-left">
        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>
          <tr class="num-row">
            <td><div class="mpa-desig-icon"></div></td>
            <td class="small-num">{{stats.pa_status}}</td>
            <td class="small-num"></td>                
          </tr>
          <tr class="label-row">
            <td></td>
            <td class="small-label">{% trans "CURRENT STATUS" %}</td>
          </tr>
        </table>

        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>          
          <tr class="num-row">
            <td></td>
            <td class="small-num">
              {% if stats.pa_area < 1 %}
                < 1
              {% else %}
                {{stats.pa_area|floatformat:0|intcomma}}
              {% endif %}

            </td>
            <td class="small-num">
              {% if stats.perc_eez < .01 %}
                < .01%
              {% else %}
                {{stats.perc_eez|floatformat:2|intcomma}}%
              {% endif %}
            </td>                
          </tr>
          <tr>
            <td class="label-row"></td>
            <td class="small-label">{% trans "SQUARE KM OF OCEAN" %}</td>
            <td class="small-label">{% trans "OF NATIONAL WATERS (EEZ)" %}</td>
          </tr>            
          <tr class="num-row">
            <td></td>
            <td class="smaller-num">
              {% if stats.pa_protdate != None %}
                {{stats.pa_protdate}}
              {% endif %}
            </td>
            <td class="smaller-num">{{stats.pa_mod_date}}</td>                
          </tr>
          <tr>
            <td class="label-row"></td>
            <td class="small-label">
              {% if stats.pa_protdate != None %}
                {% trans "DATE DESIGNATED" %}
              {% endif %}
            </td>
            <td class="small-label">{% trans "BOUNDARY LAST UPDATED" %}</td>
          </tr>                  
        </table>

    {% get_pa_layer as palayer %}
    <div class='pa-link-list'>
      <article class="pa-link-list-item" >
        <div class="pa-link-list-name" >
          <a href="{{palayer.get_absolute_url}}">{% trans "Boundary Data Layer" %}</a>
        </div>            
      </article>
      {% if stats.pa_campam_id %}
      <article class="pa-link-list-item" >
        <div class="pa-link-list-name" >
          <a target="_window" href="http://campam.gcfi.org/CaribbeanMPA/pdfexport/pdf_generator.php?mpaId={{stats.pa_campam_id}}">{% trans "CaMPAM Report" %}</a>
        </div>            
      </article>
      {% endif %}
      {% if stats.pa_wdpa_id %}
      <article class="pa-link-list-item last" >
        <div class="pa-link-list-name" >
          <a target="_window" href="http://www.protectedplanet.net/sites/{{stats.pa_wdpa_id}}">{% trans "IUCN World Database Record" %}</a>
        </div>            
      </article>      
      {% endif %}
    </div>

      </div>
      <div class="span6 section-right">
        <div id="mpa-map">
        </div>
        <div class="legend">
          <table>
            <tr>        
              <td><p>{% trans "Managed Areas" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=pa&style=pa&SCALE=8735642.90291195"/>
              </td>
              <td>
              <p>{% trans "Coral" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=car_mar_coralreefmosaic_2013_wgs84&style=car_mar_coralreefmosaic_2013_wgs84_d3a29fb1&SCALE=8735642.90291195"/>
              <p>{% trans "Mangrove" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=shelf&style=mangrove_country&SCALE=8735642.90291195"/>
              </td>
              <td>
              <p>{% trans "Seagrass" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=seagrass_country&SCALE=17471285.8058239"/>
              <p>{% trans "Shelf" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=shelf&style=shelf_1a6f87cb&SCALE=8735642.90291195"/>
              </td>
              <td class='last'><p>{% trans "Exclusive Economic Zone (EEZ)" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=eez&SCALE=17471285.8058239"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {% endif %}

<!-------- KEY HABITATS SECTION -------->

  {% if scale.name == "region" or scale.name == "country" %}
    <h3 class='section-header'>{% trans "KEY HABITATS" %}</h3>
    <div class="row-fluid section-body">

      <div class="span6 section-left">
        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>
          <tr>
            <td></td>
            <td></td>
            <td class='donut-header'>Managed</td>
          </tr>
          <tr class="num-row">
            <td><div class="coral-icon"></div></td>
            <td class="big-num">{{stats.coral_total_km}}</td>
            <td rowspan='2'>
              <div id="coral-donut" class="hab-donut"></div>
            </td>                
          </tr>
          <tr>
            <td></td>
            <td class="big-label">
              {% trans "SQUARE KM OF CORAL REEF" %}
            </td>            
          </tr>
        </table>

        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>
          <tr class="num-row">
            <td><div class="mangrove-icon"></div></td>
            <td class="big-num">{{stats.mangrove_total_km}}</td>
            <td rowspan='2'>
              <div id="mangrove-donut" class="hab-donut">
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="big-label">
              {% trans "SQUARE KM OF MANGROVE" %}
            </td>            
          </tr>
        </table>

        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>
          <tr class="num-row">
            <td><div class="seagrass-icon"></div></td>
            <td class="big-num">{{stats.seagrass_total_km}}</td>
            <td rowspan='2'>
              <div id="seagrass-donut" class="hab-donut">
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="big-label">
              {% trans "SQUARE KM OF SEAGRASS" %}
            </td>            
          </tr>
        </table>

      </div>
      <div class="span6 section-right">
        <div id="hab-map">
        </div>
        <div class="legend">
          <table>
            <tr>        
              <td><p>{% trans "Coral" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=pa&style=coralreef_country&SCALE=8735642.90291195"/>
              <p>{% trans "Mangrove" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=shelf&style=mangrove_country&SCALE=8735642.90291195"/>
              </td>
              <td><p>{% trans "Seagrass" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=seagrass_country&SCALE=17471285.8058239"/>
              <p>{% trans "Shelf" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=shelf&style=shelf_1a6f87cb&SCALE=8735642.90291195"/>
              </td>
              <td><p>{% trans "Exclusive Economic Zone (EEZ)" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=eez&SCALE=17471285.8058239"/>
              </td>
              <td class='last'>
              <ul class='map-links'>
                <li><a href='/maps?category=biota'>SOURCE MAP</a></li>
                <li><a href='/layers?category=biota'>SOURCE LAYERS</a></li>
              </ul>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  {% endif %}

<!-------- CORAL REEF HEALTH SECTION -------->

  {% if scale.name == "region" or scale.name == "country" %}
    <h3 class='section-header'>CORAL REEF HEALTH</h3>

    <div class="row-fluid section-body">
      <div class="span12">
        <div class="row-fluid">
          <section class="indi-top">
            <div class="span12">
              <div class="BIO-indi-icon pull-left"></div>
              <div>
                <p>{% trans "Coral reef health is measured using five indicators: coral cover, fleshy microalgae, herbivorous fish, commercial fish, and the overall Coral Reef Health Index (RHI).  The RHI is the average of the other four indicators.  Each indicator is assessed at the country and regional level for a given year resulting in a score from 0 and 5 and a grade ranging from Very Good to Critical.  If an indicator has been assessed for at least two years then a trend is calculated for the two most recent years, otherwise it is listed as Not Available (N/A).  The number of sites sampled and source dataset are also provided for each indicator." %}</p>
              </div>
            </div>
          </section>
        </div>

        <div class="row-fluid">
          <div id="indi-BIO-list" class="span6 section-left"></div>

          <div class="span6 section-right">

            <div class='margin-bottom-15 overflow'>
              <div class="pull-left width65"><p>
              {% if scale.name == "region" %}
                {% trans "Reef Health Charts allow you to see the grades assessed for all five indicators all at once.  Each chart contains the Reef Health Index (RHI) in the middle and the The 4 main indicators around the outside.  The map below includes Reef Health Charts for the regional and national level." %}
              {% elif scale.name == 'country' %}
                {% trans "Reef Health Charts allow you to see the grades assessed for all five indicators all at once.  Each chart contains the Reef Health Index (RHI) in the middle and the The 4 main indicators around the outside.  The map below includes Reef Health Charts for the national and subregion level." %}
              {% endif %}
              </p></div>
              <div class='text-center'>
                <img src='/static/img/simon-legend.png' />
              </div>
            </div>
            <div id="BIO-map"></div>
            <div class="legend">
              <table>
                <tr>        
                  <td><p>{% trans "Grade" %}</p>
                  <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&WIDTH=20&HEIGHT=20&LAYER=geonode:regional_pies&legend_options=fontAntiAliasing:true;fontSize:12;forceLabels:on"/>
                  </td>
                  <td><p>{% trans "Subregion" %}</p>
                  <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&WIDTH=20&HEIGHT=20&LAYER=:reef_subregion_200m_line&legend_options=fontAntiAliasing:true;fontSize:12;forceLabels:on"/>
                  </td>
                  <td class='last'>
                  <ul class='map-links'>
                    <li><a href='/maps?category=biota'>SOURCE MAP</a></li>
                    <li><a href='/layers?category=biota'>SOURCE LAYERS</a></li>
                  </ul>
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
  {% endif %}    

<!-------- MARINE MANAGED AREAS SECTION -------->

  {% if scale.name == "region" or scale.name == "country" %}
    <h3 class='section-header'>{% trans "MARINE MANAGED AREAS" %}</h3>
    <div class="row-fluid section-body">

      <div class="span6 section-left">
        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>
          <tr class="num-row">
            <td><div class="mpa-desig-icon"></div></td>
            <td class="big-num">{{stats.pa_num_designated}}</td>
            <td class="small-num">{{stats.pa_designated_total_area|floatformat:0|intcomma}}</td>                
          </tr>
          <tr>
            <td></td>
            <td class="big-label">
              {% if stats.pa_num_designated == 0 %}
              {% trans "AREAS DESIGNATED" %}
              {% else %} 
              {% trans "AREAS DESIGNATED SINCE" %} {{stats.pa_year_first_designated}}
              {% endif %}
            </td>
            <td class="small-label">{% trans "SQUARE KM OF OCEAN" %}</td>
          </tr>
        </table>

        {% if scale.name != 'region' and stats.pa_num_designated > 0 %}
        <div class='unit-list country-pa-unit-list'>
          {% for unit in childUnits %}
          {% if unit.status == 'Designated' %}
          <article class="unit-list-item {% if forloop.last %}last{% endif %}" name="{{ unit.name }}" >
            <div class="unit-list-name" >{{ unit.name }}</div>
            <div class="zoom-unit-icon pull-right" name="{{ unit.name }}" title="Zoom map to {{childScale.name}}"></div>
            <div class="zoom-assess-icon clickable pull-right" title="Go to {{childScale.alt_name|lower}} assessment"><a href='{% url "reef_assess" childScale.name unit.id %}'></a></div>
          </article>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        <table class="stats-table">
          <colgroup>
             <col class="stat-col col1">
             <col class="stat-col col2">
             <col class="stat-col col3">
          </colgroup>              
          <tr class="num-row">
            <td><div class="mpa-proposed-icon"></div></td>
            <td class="big-num">{{stats.pa_num_proposed}}</td>
            <td class="small-num">{{stats.pa_proposed_total_area|floatformat:0|intcomma}}</td>                
          </tr>
          <tr>
            <td></td>
            <td class="big-label">{% trans "AREAS PROPOSED AND AWAITING DESIGNATION" %}</td>
            <td class="small-label">{% trans "SQUARE KM OF OCEAN" %}</td>
          </tr>        
        </table> 

        {% if scale.name != 'region' and stats.pa_num_proposed > 0 %}
        <div class='unit-list country-pa-unit-list'>
          {% for unit in childUnits %}
          {% if unit.status == 'Proposed' %}
          <article class="unit-list-item {% if forloop.last %}last{% endif %}" name="{{ unit.name }}" >
            <div class="unit-list-name" >{{ unit.name }}</div>
            <div class="zoom-unit-icon pull-right" name="{{ unit.name }}" title="Zoom map to {{childScale.name}}"></div>
            <div class="zoom-assess-icon clickable pull-right" title="Go to {{childScale.alt_name|lower}} assessment"><a href='{% url "reef_assess" childScale.name unit.id %}'></a></div>
          </article>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if scale.name == 'region' or scale.name == "country" %}
        <div class="row">
          <div class='span6'>
            <div class='donut-header'>{% trans "Ocean Managed" %}</div>
            <div id="ocean-donut"></div>
            <div class='donut-footer'>{% trans "Goal - " %}{{settings.oceanGoal}}{% trans "% of EEZ (Convention for Biological Diversity). Only designated areas count towards goal" %}</div>
          </div>
          <div class='span6'>
            <div class='donut-header'>{% trans "Shelf Managed" %}</div>
            <div id="shelf-donut"></div>
            <div class='donut-footer'>{% trans "Goal -" %}{{settings.shelfGoal}}{% trans "% of marine shelf (Caribbean Challenge). Only designated areas count towards goal" %}</div>
          </div>
        </div>        
        {% endif %}

      </div>
      <div class="span6 section-right">
        <div id="mpa-map">
        </div>
        <div class="legend">
          <table>
            <tr>        
              <td><p>{% trans "Managed Area Boundary" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=pa&style=pa&SCALE=8735642.90291195"/>
              </td>
              <td><p>{% trans "Shelf" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=shelf&style=shelf_1a6f87cb&SCALE=8735642.90291195"/>
              </td>
              <td><p>{% trans "Exclusive Economic Zone (EEZ)" %}</p>
              <img src="{{GEOSERVER_URL}}/wms?request=GetLegendGraphic&format=image/png&width=20&height=20&layer=eez&SCALE=17471285.8058239"/>
              </td>
              <td class='last'>
                <ul class='map-links'>
                  <li><a href='/maps?category=boundaries'>SOURCE MAP</a></li>
                  <li><a href='/layers?category=boundaries'>SOURCE LAYERS</a></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  {% endif %}

<!---- SOCIOECONOMIC ---->

  {% if scale.name == "region" or scale.name == "country" %}
    <h3 class='section-header'>SOCIOECONOMIC</h3>

    <div class="row-fluid section-body">
      <div class="span12">
        <div class="row-fluid">
          <section class="indi-top">
            <div class="span12">
              <div class="SOC-indi-icon pull-left"></div>
              <div>
                <p>Socioeconomic indicators assess the economic and social aspects of fisheries and the interaction with the pursuit of sustainability.</p>
                <p class="unavailable">These indicators have not yet been collected.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  {% endif %}    

<!---- MANAGEMENT EFFECTIVENESS ---->

  {% if scale.name == "region" or scale.name == "country" %}
    <h3 class='section-header'>MANAGEMENT EFFECTIVENESS</h3>

    <div class="row-fluid section-body">
      <div class="span12">
        <div class="row-fluid">
          <section class="indi-top">
            <div class="span12">
              <div class="ME-indi-icon pull-left"></div>
              <div>
                <p>The declaration of a managed area does not always result in adequate protection.  It is important to evaluate the effectiveness of management.</p>
                <p class="unavailable">These indicators have not yet been collected.</p>              
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  {% endif %}   

<!-------- INDICATORS SECTION -------->
  <div class="row-fluid">
    <div id="indi-section" class="span12"></div>
  </div>

{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}lib/js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}lib/js/ol.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/papaparse.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}lib/js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/humanize.js"></script>
<script src="{{ STATIC_URL }}js/caribnode.js"></script>

<script>
//Global config object
config = {{config_json|safe}};

$( document ).ready(function() {
  //Add indexOf function to ie8 for PapaParse to work
  if (!Array.prototype.indexOf) { Array.prototype.indexOf = _.indexOf; }
  //Create assessment widget
  $('body').ReefAssessment({'config':config});
});
</script>

<script type="text/template" class="indiList">
  <div class="indi-list-header caps">
    Indicators
  </div>
  <% _.each(indis, function(indi) { %>
  <div class="indi-list-item">
    <div class="indi-list-title">
      <%= indi.name %>
    </div>
    <div class="indi-list-desc">
      <p><%= indi.description %> &nbsp;&nbsp;<a href="/tools/indicator_help#<%= indi_type_display %>" target="_window">Learn More</a></p>
    </div>
    <div class="indi-list-stats">
      <table class="table table-indi-list">
        <tr class='indi-list-value'>
          <td class='grade'>
            <% if (indi.display.grade == 'Very Good') { %>
                <div class="grade-very-good">
            <% } else if (indi.display.grade == 'Good') { %>
              <div class="grade-good">
            <% } else if (indi.display.grade == 'Fair') { %>
              <div class="grade-fair">
            <% } else if (indi.display.grade == 'Poor') { %>
              <div class="grade-poor">
            <% } else if (indi.display.grade == 'Critical') { %>
              <div class="grade-critical">
            <% } else if (indi.display.grade == 'Definitely Yes') { %>
              <div class="grade-definitely-yes">
            <% } else if (indi.display.grade == 'Mostly Yes') { %>
              <div class="grade-mostly-yes">
            <% } else if (indi.display.grade == 'Mostly No') { %>
              <div class="grade-mostly-no">
            <% } else if (indi.display.grade == 'Definitely No') { %>
              <div class="grade-definitely-no">
            <% } %>                
            <%= indi.display.grade %></div>
          </td>
          <td>
            <div><%= indi.display.year %></div>
          </td>
          <td>
            <div><%= indi.display.value %></div>
          </td>
          <td>
            <div><%= indi.display.score %></div>
          </td>
          <td>
            <div>
              <% if (indi.display.trend == 'up') { %>
                    <i class="icon-upload trend-icon"></i>
              <% } else if (indi.display.trend == 'down') { %>
                <i class="icon-download trend-icon"></i>
              <% } else if (indi.display.trend == 'same') { %>
                <i class="icon-circle trend-icon-small"></i>
              <% } else { %>
                N/A
              <% } %>
            </div>
          </td>
          <td>
            <div><%= indi.display.sample %></div>
          </td>
          <td>
            <div>
              <% if (indi.display.doc_link) { %>
                <a href="<%= indi.display.doc_link %>"><i class="icon-table indi-list-icon"></i></a>
              <% } %>
            </div>
          </td>
        </tr>
        <tr class='indi-list-label'>
          <td>
            <div>Grade</div>
          </td>
          <td>
            <div>Year</div>
          </td>
          <td>
            <div>Average</div>
          </td>
          <td>
            <div>Score</div>
          </td>
          <td>
            <div>
              Trend
            </div>
          </td>
          <td>
            <div>Sites</div>
          </td>
          <td>
            <div>Source</div>
          </td>                  
        </tr>
      </table>
    </div>
  </div>
  <% }); %>
</script>

<script type="text/template" class="indiSection">
  <!-- Template rendering one large section containing one table for each indicator group -->
  <h3 class='section-header'><%= indi_type_display %></h3>
  <div class="section-body">
    <div class="row-fluid">

      <section class="indi-top">
        <div class="span12">
          <div class="<%= indi_type %>-indi-icon pull-left"></div>
          <div>
            <p>{% trans "Coral reef health is measured using four indicators: coral cover, fleshy microalgae, herbivorous fish, and commercial fish.  The Coral Reef Health Index is the average of these four indicators.  Each indicator is assessed at the site, country, and regional level resulting in a score from 0 and 5 and a grade from Very Good to Critical." %}</p>
          </div>

          <section class="indi-section">        
            <table class="table table-hover table-indi">
              <thead>
                <tr>
                  <th class="name">{% trans "Name of Indicator" %}</th>
                  <th class="year">{% trans "Year" %}</th>
                  <th class="grade">{% trans "Grade" %}</th>
                  <th class="trend">{% trans "Trend" %}</th>
                  <th class="value">{% trans "Average" %}</th>
                  <th class="data">{% trans "Data" %}</th>
                </tr>
              </thead>
              <colgroup>
                 <col class="indi-col col1">
                 <col class="indi-col col2">
                 <col class="indi-col col3">
                 <col class="indi-col col4">
                 <col class="indi-col col5">
                 <col class="indi-col col6">
              </colgroup>
              <tbody>
                <% _.each(indis, function(indi) { %>
                <tr>
                  <td class="name"><%= indi.name %></td>
                  <td class="year"><%= indi.display.year %></td>

                  <td class="grade">
                  <% if (indi.display.grade == 'Very Good') { %>
                    <div class="grade-very-good">
                  <% } else if (indi.display.grade == 'Good') { %>
                    <div class="grade-good">
                  <% } else if (indi.display.grade == 'Fair') { %>
                    <div class="grade-fair">
                  <% } else if (indi.display.grade == 'Poor') { %>
                    <div class="grade-poor">
                  <% } else if (indi.display.grade == 'Definitely Yes') { %>
                    <div class="grade-definitely-yes">
                  <% } else if (indi.display.grade == 'Mostly Yes') { %>
                    <div class="grade-mostly-yes">
                  <% } else if (indi.display.grade == 'Mostly No') { %>
                    <div class="grade-mostly-no">
                  <% } else if (indi.display.grade == 'Definitely No') { %>
                    <div class="grade-definitely-no">
                  <% } %>                
                  <%= indi.display.grade %></div></td>        

                  <td class="trend">
                  <% if (indi.display.trend == 'up') { %>
                    <i class="icon-upload trend-icon">
                  <% } else if (indi.display.trend == 'down') { %>
                    <i class="icon-download trend-icon">
                  <% } else if (indi.display.trend == 'same') { %>
                    <i class="icon-circle trend-icon-small">
                  <% } else { %>
                    N/A
                  <% } %>
                  </td>

                  <td class="value"><%= indi.display.value %></td>
                  <% if (indi.display.doc_link) { %>
                    <td class="data"><a href="<%= indi.display.doc_link %>"><i class="icon-table doc-data-icon"></a></td>
                  <% } else { %>
                    <td></td>
                  <% } %>

                </tr>              
                <% }); %>              
              </tbody>
            </table>
            <p class="pull-right indi-learn-link"><a href="/tools/indicator_help#<%= indi_type_display %>" target="_window">LEARN MORE ABOUT EACH INDICATOR</a></p>
          </section>

    </div>
  </div>

      

        </div>      
      </section>                                            
</script>
{% endblock extra_script %}
