{% extends "tools/tool_base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %} {% trans "Explore Tools" %} - {{ block.super }} {% endblock %}

{% block body_class %}data data-list explore{% endblock %}

{% block middle %}
  <div class="container tool">
      <div class="tool-header">REGIONAL REEF ASSESSMENT</div>
      <h2 class="tool-unit">{{ region }}</h2>
      

      <h3 class='section-header'>OVERVIEW</h3>
      <div class="row-fluid section-body">
          <div class="span6 overview-left">
            <p class='stats-intro'>The following countries are included in this regional assessment.  Select a country below to view a national assessment.</p>
            <table class="stats-table">
              <colgroup>
                 <col class="stat-col col1">
                 <col class="stat-col col2">
                 <col class="stat-col col3">
              </colgroup>
              <tr class="num-row">
                <td><div class="country-icon"></div></td>
                <td class="big-num">{{countries|length}}</td>
                <td class="small-num">{{stats.country_total_km|intcomma}}</td>                
              </tr>
              <tr>
                <td></td>
                <td class="big-label">PARTICIPATING COUNTRIES</td>
                <td class="small-label">SQUARE KM OF OCEAN</td>
              </tr>        
            </table>  

            <div class='tool-list'>
              {% for country in countries %}
              <article class="tool-list-item {% if forloop.last %}last{% endif %}" name="{{country}}" ><a href="/reef_assess/national/{{country|slugify}}">{{ country }}</a></article>
              {% endfor %}
            </div>                      
          </div>

          <div class="span6 overview-right">
            <div id="country-map">
          </div>
          </div>
      </div>

      <h3 class='section-header'>MARINE PROTECTED AREAS</h3>
      <div class="row-fluid section-body">
          <div class="span6 mpa-left">
            <table class="stats-table">
              <colgroup>
                 <col class="stat-col col1">
                 <col class="stat-col col2">
                 <col class="stat-col col3">
              </colgroup>
              <tr class="num-row">
                <td><div class="mpa-desig-icon"></div></td>
                <td class="big-num">{{stats.pa_num_designated}}</td>
                <td class="small-num">{{stats.pa_designated_total_area|intcomma}}</td>                
              </tr>
              <tr>
                <td></td>
                <td class="big-label">AREAS DESIGNATED SINCE {{stats.pa_year_first_designated}}</td>
                <td class="small-label">SQUARE KM OF OCEAN</td>
              </tr>
            </table>

            <table class="stats-table">
              <colgroup>
                 <col class="stat-col col1">
                 <col class="stat-col col2">
                 <col class="stat-col col3">
              </colgroup>              
              <tr class="num-row">
                <td><div class="mpa-proposed-icon"></div></td>
                <td class="big-num">{{stats.pa_num_proposed}}</td>
                <td class="small-num">{{stats.pa_proposed_total_area|intcomma}}</td>                
              </tr>
              <tr>
                <td></td>
                <td class="big-label">MORE AREAS PROPOSED SINCE {{stats.pa_year_first_proposed}}</td>
                <td class="small-label">SQUARE KM OF OCEAN</td>
              </tr>        
            </table> 

            <div class="row">
              <div class='span6'>
                <div class='donut-header'>Ocean Protected</div>
                <div id="ocean-donut"></div>
              </div>
              <div class='span6'>
                <div class='donut-header'>Shelf Protected</div>
                <div id="shelf-donut"></div>
              </div>
            </div>
          </div>
          <div class="span6 mpa-right">
            <div id="mpa-map">
            </div>
          </div>
        </div>

        <h3 class='section-header'>INDICATORS</h3>
        <div class="row-fluid section-body">
          <div class="span12 indi-top">            

            <div class="span3 pull-left">
              <div class="indi-icon pull-left"></div>
              <div>
                <div class="big-indi-num">{{indis.num_indis}}</div>
                <div class="big-indi-label">INDICATORS</div>
              </div>              
            </div>

            <div class="span9">
              <p>These indicators characterize the status and trends of the marine environment as well as the socio-economic and management conditions around it.  The most recent available year is shown.</p>
            </div>

          </div>
          <div class="span12">

            <div class="indi-header">
              <div class="bio-indi-icon pull-left"></div>                
              <div class="indi-header-title">
                Biophysical
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>...</th>
                  <th>...</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>

            <div class="indi-header">
              <div class="socio-indi-icon pull-left"></div>                
              <div class="indi-header-title">
                Socioeconomic
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>...</th>
                  <th>...</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>

            <div class="indi-header">
              <div class="mgmt-indi-icon pull-left"></div>                
              <div class="indi-header-title">
                Management Effectiveness
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>...</th>
                  <th>...</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>      
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}lib/js/ol.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/caribnode.js"></script>
<script>

//Global config object
config = {{config_json|safe}};

//Other globals
countryListItemClass = '.tool-list-item';
eezNameAttr = "Sovereign";

$( document ).ready(function() {
  loadCountryMap('country-map');
  loadMpaMap('mpa-map');
  loadHoverEvents(countryOverlay, cEEZLayer, countryListItemClass, eezNameAttr);
  loadMpaCharts('donut');
});

</script>
{% endblock extra_script %}
