body {
    padding-top: 0px !important;
}

.content-wrap {
    padding: 3px 0px 0px 20px;
}

#header-row {
    height: 35px;
}

nav.main-nav {
    overflow: auto !important;
    margin: 0px !important;
}

nav.main-nav ul li a {
    border: 0;
    color: #999;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    padding: 4px 14px;
}

nav.main-nav ul li.current a {
    color: #fff;
    font-weight: 300;    
}

nav.main-nav ul li a:hover {
    font-weight: 300;
    color: #fff;
}

.navbar-inner {
    padding-top: 14px !important;
    border-radius: 0px;
    webkit-border-radius: 0px;
    moz-border-radius: 0px;
}

.navbar .nav.pull-right {
    margin: 5px 0px 0px 0px !important;
}

#logo-text {
    font-family: 'FrancoisOne';
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.welcome {
    background-color: #1588a2;
    height: 180px;
}

.welcome .welcome-header {
    font-family: 'FrancoisOne';
    font-size: 16px;
    text-shadow: #333 1px 1px 1px;
    color: white;
    padding: 15px 0px 0px 25px;
}

.welcome .welcome-text {
    font-family: 'Lato';
    font-size: 32px;
    text-shadow: #333 1px 1px 1px;
    color: white;
    padding: 15px 0px 10px 25px;
    line-height: 40px;
}

.searchbar {
    position: relative;
    bottom: -130px;
    right: 20px;
}