body {
    padding-top: 0px !important;
    background-image: url("../img/waves_gray_20opac.jpg");
}

h2 {
    font-weight: 300;
    font-size: 24px;
}

h3 {
    margin-bottom: 10px !important;
}

p span.light {
    color: #999999;
}

.content-back {
    background-color: white;
    padding: 32px 0px 0px 20px;
}

.row {
    margin-left: -20px;
}

.carib p {
    font-size: 20px;
    color: #333;
    line-height: 36px;
    font-weight: 300;
}

.carib ul {
    font-size: 20px;
    color: #999;
    line-height: 36px;
    font-weight: 300;
}

.carib ul li {
    line-height: 25px;
    padding-top: 10px
}

.carib a {    
    color: #028BAF !important;
}

.content-wrap {
    padding: 32px 0px 0px 20px;
}

.header-row {
    height: 36px;
}

nav.main-nav {
    width: 620px;
    overflow: auto !important;
    margin: 0px !important;
}

nav.main-nav ul li a {
    border: 0;
    color: #999;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    padding: 4px 14px;
}

nav.main-nav ul li.current a {
    color: #fff;
    font-weight: 300;    
}

nav.main-nav ul li a:hover {
    font-weight: 300;
    color: #fff;
}

.navbar-inner {
    padding-top: 14px !important;
    border-radius: 0px;
    webkit-border-radius: 0px;
    moz-border-radius: 0px;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar .nav.pull-right {
    margin: 0px 0px 0px 0px !important;
}

.header-logo {
    padding: 0px 20px 0px 20px;
}

#logo-text {
    font-family: 'FrancoisOne';
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.welcome {
    background-color: #1588a2;
    margin-top: 20px;
    min-height: 180px !important;
}

.welcome .welcome-header {
    font-family: 'FrancoisOne';
    font-size: 16px;
    text-shadow: #333 1px 1px 1px;
    color: white;
    padding: 20px 0px 0px 25px;
}

.welcome .welcome-text {
    font-family: 'Lato';
    font-size: 32px;
    text-shadow: #333 1px 1px 1px;
    color: white;
    padding: 15px 0px 10px 25px;
    line-height: 40px;
}

.searchbar {
    position: relative;
    bottom: -130px;
    right: 20px;
}

.features {
    background-color: white;
    margin-top: 20px;
    min-height: 270px !important;
}

.features .feature-header {
    font-family: 'FrancoisOne';
    font-size: 14px;
    /*text-shadow: #333 1px 1px 1px;*/
    color: #999;
    padding: 20px 0px 0px 25px;
}

.feature-link {
    font-family: 'FrancoisOne';
    font-size: 14px;
    padding-right: 10px;    
}

.feature-link a {
    color: #028BAF !important;
}

.features .feature {
    font-family: 'Lato';
    font-size: 24px;
    color: #666;
    padding: 15px 0px 0px 25px;
    line-height: 30px;
    min-height: 87px;
}

.feature-tool-icon {    
    height: 60px;
    width: 60px;
    background-color: #F5A623 !important;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;    
}

.feature .feature-map-icon {
    background: url('/static/img/icon_28732_map.png') no-repeat center;
    height: 60px;
    width: 60px;  
    background-color: #7ED321;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

.feature-text {
    display: inline-block;
    width: 60%;
    min-height: 60px;
    margin-left: 20px;
}

.feature-text a {
    color: #666;
}

.feature-thumb {
    height: 75px;
    width: 100px;
}

.feature-thumb a img {
    height: 75px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;    
}

/* Make a div "clickable" by positioning an anchor element on top of it. 
div position must be set to relative while the inner anchor is set 
to absolute */

.clickable {
    position: relative;
}

.clickable a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */    
}

.partner-box {
    background-color: #DDD;
    font-size: 20px;
    margin-top: 20px;
    height: 50px;
}

.partner-box a {    
    text-decoration: none;    
    color: #028BAF !important;
}

.partner-icon {
    background: url('/static/img/icon_39138_partners.png') no-repeat center;
    height: 50px;
    width: 50px; 
    padding-left: 20px; 
}

.partner-text {
    padding: 16px 0px 0px 25px;
}

.funder {
    background-color: #028BAF;
    padding-right: 10px;
}

.funder .header {
    font-family: 'FrancoisOne';
    font-size: 16px;
    text-shadow: #333 1px 1px 1px;
    color: white;
    padding: 20px 0px 0px 25px;
}

.funder p {
    font-family: 'Lato';
    font-size: 20px;
    color: white !important;
    padding: 15px 0px 0px 25px;
    line-height: 24px;
}

.funder a {
    color: white !important;
    text-decoration: none;
}

.funder ul {
    padding-left: 20px;
}

.funder ul li {
    color: white;
} 

.tool-list {
    margin: 10px 0px 40px 0px;
}

.tool-list .feature {
    font-family: 'Lato';
    font-size: 24px;
    padding: 10px 0px 0px 0px;
    line-height: 30px;
}

.tool-list .feature .feature-text a {
    color: #41aaba !important;
}

.tool-list-item {   
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-size: 24px;
    line-height: 30px;
    color: #666666;
    border-bottom: 1px solid #bbb;    
    vertical-align: middle;    
}

.tool-list-item.last {
    border-bottom: 0px !important;
}

.tool-list-item:hover {
    background-color: #eee;   
}

.tool-list-name {
    line-height: 30px;
    width:100%;
    display: inline-block;
}

.tool-list-icon {    
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background-color: #F5A623 !important;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;    
}

footer .container .row .span12 {
    border-top: 1px solid #999;
    padding-top: 10px;
}

footer.footer {
    position: static !important;
    background: transparent;
    padding: 20px 0px 0px 0px;
    color: #7ED321 !important;
}

body.home footer.footer .container {
    padding-left: 20px;
}

footer.footer a {
    color: #7ED321 !important;   
}

footer.footer .footer-contact {
    font-size: 14px !important;
}

footer.footer .footer-dev {
    margin-left: 40px;
    font-size: 14px;
}

footer.footer form label {
    font-size: 14px !important;
    color: #7ED321 !important;
    padding-right: 10px;
}

footer.footer form select {
    font-size: 12px !important;
}
