.tool p {
    font-size: 16px;
    color: #333333;
    line-height: 25px;
}

.tool-header {
    font-size: 18px;
    color: #028BAF;
    font-family: 'FrancoisOne';
    letter-spacing: .5px;
    padding-top: 30px;
}

h2.tool-unit {
    font-size: 48px;
    font-weight: 300;
    color: #333333;    
}

h3.section-header {
    font-size: 22px;
    color: #666666;
    margin-top: 40px;
}

.stats-intro {
    margin-bottom: 30px;
}

.section-body {
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #BFBFBF;
    margin-top: 10px;
    /*padding: 20px 20px 20px 20px;*/
}

.section-body section {
    padding: 20px 20px 0px 20px
}

.tool-list {
    margin-top: 20px;
}

.tool-list article {
    position: relative;
    clear: both;
    font-size: 20px;
    color: #666666;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid #bbb;
}

.tool-list article.last {
    border-bottom: 0px !important;
}

.tool-list article.highlight {
    background-color: #eee;   
}

.stats-table:nth-child(2) {
    margin-top: 30px;
}

p:nth-child(2) {
    background: #ff0000;
}

.stat-col {
    column-span: 1;
}

.stats-table .col1 {
    width: 16%;
}

.stats-table .col2 {
    width: 42%;
}

.stats-table .col3 {
    width: 42%;
}

.big-num {
    font-family: 'OswaldBold';
    font-size: 50px !important;
}

.big-label {
    color: #CCCCCC !important;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
}

.small-num {
    font-family: 'OswaldBold';
    font-size: 35px !important;      
}

.small-label {
    color: #CCCCCC !important;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
}

/**** Reef Assessment ****/

.country-icon {
    background: url('/static/img/icon_18162_island.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #FF6D24;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

/**** OVERVIEW ****/

.overview-left {
    padding: 20px 0px 20px 20px;
}

.overview-right {
    padding: 20px 20px 20px 0px;
}

#country-map {
    height: 510px;
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
    .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
    .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
    .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
    .ol-popup-closer:after {
    content: "✖";
}

.ol-attribution {
    display: none !important;
}

/**** MPA ****/

.mpa-left {
    padding: 20px 0px 20px 20px;
}

.mpa-right {
    padding: 20px 20px 20px 0px;
}

#mpa-map {
    height: 510px;
}

.mpa-desig-icon {
    background: url('/static/img/icon_31493_water.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #7ED321;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

.mpa-proposed-icon {
    background: url('/static/img/icon_31493_water.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #B8E986;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

#ocean-donut {
    width: 90%; height: 200px; margin: 0 auto
}

#shelf-donut {
    width: 90%; height: 200px; margin: 0 auto
}

.donut-header {
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}

/******** INDICATORS ********/

.indi-top {
    /*padding: 20px;*/
    min-height: 80px;
}

.indi-head-table .col1 {
    width: 8%;
}

.indi-head-table .col2 {
    width: 10%;
}

.indi-head-table .col3 {
    width: 72%;
}

.big-indi-num {
    font-family: 'OswaldBold';
    font-size: 50px !important;
    padding: 16px 0px 20px 0px;
}

.big-indi-label {
    color: #D8D8D8 !important;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
}

.indi-icon {
    background: url('/static/img/icon_20073_indicator.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #00CCAA;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;   
    margin: 0px 10px 10px 0px;
}

.indi-header-title {
    color: #666666;
    font-family: 'FrancoisOne';
    font-size: 24px;
    padding-top: 15px;
}

.BIO-indi-icon {
    background: url('/static/img/icon_2027_fish.png') no-repeat center;
    height: 45px;
    width: 45px;  
    border-radius: 50px;
    border: 1px solid #cccccc;
    webkit-border-radius: 50px;
    moz-border-radius: 50px;   
    margin: 0px 20px 10px 0px;
}

.SOC-indi-icon {
    background: url('/static/img/icon_4272_socio.png') no-repeat center;
    height: 45px;
    width: 45px;  
    border-radius: 50px;
    border: 1px solid #cccccc;
    webkit-border-radius: 50px;
    moz-border-radius: 50px;   
    margin: 0px 20px 10px 0px;
}

.ME-indi-icon {
    background: url('/static/img/icon_7728_scale.png') no-repeat center;
    height: 45px;
    width: 45px;  
    border-radius: 50px;
    border: 1px solid #cccccc;
    webkit-border-radius: 50px;
    moz-border-radius: 50px;   
    margin: 0px 20px 10px 0px;
}

.indi-col {
    column-span: 1;
}
.table-indi .col1 {
    width: 40%;
}
.table-indi .col2 {
    width: 10%;
}
.table-indi .col3 {
    width: 20%;
}
.table-indi .col4 {
    width: 10%;
}
.table-indi .col5 {
    width: 10%;
}
.table-indi .col6 {
    width: 10%;
}

.table th, .table td {
    vertical-align: middle;
}

.table td.name, .table td.year {
    font-size: 20px;
    color: #666666;
}

.table td.value {
    font-family: 'OswaldBold';
    font-size: 20px;
    color: #333333;
}

.table th.year, .table th.value, .table th.trend, .table th.grade, .table th.map {
    text-align: center;
}

.table td.year, .table td.value, .table td.trend, .table td.grade, .table td.map {
    text-align: center;
}

.table td.name {
    line-height: 24px;
}

.grade div {
    font-size: 16px;
    font-family: 'Lato-Bold'; 
    height: 25px;
    width: 60px; 
    padding-top: 5px;  
    margin-left: auto;
    margin-right: auto;
}

.grade-good {
    background-color: #7DBC3D;    
}

.grade-fair {
    background-color: #FEE333;
}

.grade-poor {
    background-color: #EB8034;
}

.indi-section .table thead {
    background-color: #999999;
    color: white;
}

.trend-icon {
    font-size: 26px;
}

.trend-icon-small {
    font-size: 12px;
}