.tool p {
    font-size: 16px;
    color: #333333;
    line-height: 25px;
}

.tool-header {
    font-size: 18px;
    color: #028BAF;
    font-family: 'FrancoisOne';
    letter-spacing: .5px;
    padding-top: 30px;
}

h2.tool-unit {
    font-size: 48px;
    font-weight: 300;
    color: #333333;    
}

h3.section-header {
    font-size: 22px;
    color: #666666;
    margin-top: 40px;
}

.stats-intro {
    margin-bottom: 30px;
}

.section-body {
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #BFBFBF;
    margin-top: 10px;
    /*padding: 20px 20px 20px 20px;*/
}

.tool-list {
    margin-top: 20px;
}

.tool-list article {
    position: relative;
    clear: both;
    font-size: 20px;
    color: #666666;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid #bbb;
}

.tool-list article.last {
    border-bottom: 0px !important;
}

.tool-list article.highlight {
    background-color: #eee;   
}

.stats-table:nth-child(2) {
    margin-top: 30px;
}

p:nth-child(2) {
    background: #ff0000;
}

.stat-col {
    column-span: 1;
}

.col1 {
    width: 16%;
}

.col2 {
    width: 42%;
}

.col3 {
    width: 42%;
}

.big-num {
    font-family: 'OswaldBold';
    font-size: 50px !important;
}

.big-label {
    color: #D8D8D8 !important;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
}

.small-num {
    font-family: 'OswaldBold';
    font-size: 35px !important;      
}

.small-label {
    color: #D8D8D8 !important;
    font-weight: 300;
    font-size: 16px;
    vertical-align: top;
}

/**** Reef Assessment ****/

.country-icon {
    background: url('/static/img/icon_18162_island.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #FF6D24;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

/**** OVERVIEW ****/

.overview-left {
    padding: 20px 0px 20px 20px;
}

.overview-right {
    padding: 20px 20px 20px 0px;
}

#country-map {
    height: 510px;
}

.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
    .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
    .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
    .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
    .ol-popup-closer:after {
    content: "✖";
}

.ol-attribution {
    display: none !important;
}

/**** MPA ****/

.mpa-left {
    padding: 20px 0px 20px 20px;
}

.mpa-right {
    padding: 20px 20px 20px 0px;
}

#mpa-map {
    height: 510px;
}

.mpa-desig-icon {
    background: url('/static/img/icon_31493_water.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #7ED321;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

.mpa-proposed-icon {
    background: url('/static/img/icon_31493_water.png') no-repeat center;
    height: 50px;
    width: 50px;  
    background-color: #B8E986;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;     
}

#ocean-donut {
    width: 100%; height: 200px; margin: 0 auto
}

#shelf-donut {
    width: 100%; height: 200px; margin: 0 auto
}

.donut-header {
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}