.tool p {
    font-size: 16px;
    color: #333333;
}

.tool-header {
    font-size: 18px;
    color: #028BAF;
    font-family: 'FrancoisOne';
    letter-spacing: .5px;
    padding-top: 30px;
}

h2.tool-unit {
    font-size: 48px;
    font-weight: 300;
    color: #333333;    
}

h3.section-header {
    font-size: 22px;
    color: #666666;
    margin-top: 35px;
}

.section-body {
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #BFBFBF;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
}

.map {
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    background-color: #ADD8e6;
    border: 1px solid #BFBFBF;
    height: 500px;
}